.item {
  height: 150px;
  padding: 0.5rem;
}

.item__content {
  height: 100%;
  position: relative;
}

.item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  color: #fff;
}

.item:nth-child(1) .item__content {
  background: #3387ea;
}
